<article class="insight-card">
  <img src="http://placehold.it/500x300/4D78BB/FFFFFF">
  <div class="insight-content">
    <h1>{{insight.title}}</h1>
    <p>{{insight.content}}</p>
  </div>
  <footer class="insight-footer">
    <ul>
      <li>
        <a href="#">
          <span class="fa fa-thumbs-up"></span>
          <span class="footer-text">Like</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-share"></span>
          <span class="footer-text">Share</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-comment"></span>
          <span class="footer-text">Comment</span>
        </a>
      </li>
    </ul>
  </footer>
</article>
